@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light-1:#ffffff;
  --color-light-2:#f5f8fa;
  --color-light-3:rgba(65, 65, 65, 0.404);
  --color-dark-1: #191919;
  --color-dark-2: #0E0D35;
  --color-dark-3: #353535;
  --color-dark-4: #29272b;
  --color-dark-5: #222529;
  --color-dark-6: #3A3A3A;
  --color-dark-7: #dadada91;
  --color-green-1: #00A056;
  --color-red-1:  #D63236;
  --box-shadow-1: rgba(0, 0, 0, 0.075) 0px 1px 3px,
    rgba(0, 0, 0, 0.137) 0px 1px 2px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-1);
  direction: rtl;
  color: var(--color-dark-4);
  position: relative;
}

.mainContainer {
  max-width: 130rem;
  margin: auto;
}

.mainStructure{
  min-height: 92dvh;
  margin-top: 8dvh;
  display: grid;
  grid-template-rows:auto 1fr;
  position: relative;
}

@media (max-width: 60rem) {
  html {
    font-size: 50%;
  }
}