.nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 8dvh;
    width: 100%;
    background-color: var(--color-dark-1);
    display: grid;
    grid-template-columns: auto 1fr minmax(auto, 30rem) auto;
    font-size: 1.3rem;
    color: var(--color-dark-7);
    border-bottom: 1px solid var(--color-dark-3);
    overflow: hidden;
}

.logo {
    height: 8dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0 2rem;
}

.nav>div:not(:last-of-type) {
    border-left: 1px solid var(--color-dark-3);
}

@media (max-width:40rem) {
    .nav {
        grid-template-columns: auto minmax(auto, 40rem) auto;

    }

    .div2 {
        display: none !important;
    }
}